<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Data Management Tool{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <a href="{{ url_for('main.index') }}">Home</a>
      <a href="{{ url_for('main.upload_page') }}">Upload Data</a>
    </nav>
    <hr>
    <div class="content">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
